.navbar-brand {
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 12px;
    margin: 5px;
    padding: 5px 15px 7px 15px;
    display: flex;
}
.nav-link {
    font-size: 1.3rem;
    font-weight: bold;
    color: #eeeeee;
}
.nav-link:hover {
    color: white;
}
.nav-link-tab {
    font-size: 19px;
    color: #eeeeee;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.1s;
    margin: 10px 5px;
}
.nav-link-tab:hover {
    font-size: 20px;
    margin: 12px;
    color: white;
    transition: 0.1s;
}

.inventory-item:hover {
    transform: scale(1.05);
}

.delimiter {
    background-color: white;
    color: transparent;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 0.7px;
}

.inventory-list {
    margin-top: 20px;
}

.inventory-item {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #3487e3;
    color: white;
}

.up {
    vertical-align: 45px;
    font-size: 1.5rem;
}

.nav-item {
    width: 320px;
}

body {
    background-color: #f8f9fa;
}

.header {
    background-color: #3487e3;
    color: white;
    padding: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span {
    color: white;
}

.user-item {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.user-item:hover {
    transform: scale(1.05);
}
.base {
    margin-bottom: 15px;
}
td {
    padding-right: 7px;
}