.page-header {
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    background-color: #ffffff;
    color: #0b9ebb;
    border-radius: 20px;
    border: 3px solid #0b9ebb;
    padding: 10px 20px;
    width: auto;
}
.navbar {
    height: 80px;
    background-color: #0b9ebb;
}
.base {
    margin-bottom: 15px;
}
td {
    padding-right: 7px;
}
.btn-primary {
    background-color: #0b9ebb;
}
.btn-primary:hover {
    background-color: #0a7f96;
}

#danger-text {
    color: #fb5353;
    font-weight: bold;
}

#success-text {
    color: #43a815;
    font-weight: bold;
}

#waiting-text {
    color: #e7c42b;
    font-weight: bold;
}