<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/css/admin_style.css">
    <title>Менеджмент - Профиль</title>
</head>


{% extends "base.html" %}
{% block content %}
<div class="container user-list">
    <h2 class="page-header" align="center">Список пользователей в инвентаре</h2>
    <div class="row">
        {% for user in users %}
            <div class="col-12">
                <div class="user-item" id="user-{{ user.id }}">
                    <h5>{{ user.name }}</h5>
                    <button class="btn btn-primary" onclick="deleteUser('{{ user.id }}', this)">Удалить пользователя</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    function deleteUser(itemId, button) {
        fetch(`/delete-user/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken()
            },
            body: JSON.stringify({
                id: itemId
            })
        })
            .then(response => {
                if (response.ok) {

                    window.location.reload();
                }
                if (!response.ok) {
                    throw new Error('Ошибка при удалении элемента');
                }
                return response.json();
            })
            .then(data => {
                if (response.ok) {
                    document.getElementById(`user-${userId}`).remove();
                } else {
                    alert("Ошибка при удалении!");
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
    }


    function getCSRFToken() {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
        return csrfToken ? csrfToken.value : '';
    }

</script>
{% endblock %}
