{% extends "user_base.html" %}
{% block content %}
<div class="container inventory-list">
    <div class="d-flex justify-content-center"><h2 class="page-header">Доступное вам</h2></div>
    <div class="row">
        <div class="col-sm-12">
            {% for item in inventory %}
            <div class="col-md-14">
                <div class="inventory-item">
                    <h5>{{ item.name }}</h5>
                    <p>Количество предметов: {{ item.count }}</p>

                    {% if appid[item.id - 1] == 'ожидает действия' %}
                    <button class="btn btn-success" disabled>Заявка оставлена</button>
                    {% else %}
                    <button class="btn btn-primary" name="ItemName" id="open{{ item.id }}" value="{{ item.id }}">Взять напрокат</button>
                    <dialog id="myDialog{{ item.id }}">
                        <p>
                            <label>Введите количество товара</label>
                            <input type="number" name="quantity" id="quantity{{ item.id }}"/>
                        </p>
                        <p>
                            <label>Введите описание для заявки</label>
                            <input type="text" name="opisanie" id="opisanie{{ item.id }}"/>
                        </p>
                        <p>
                            <button id="closeButton{{ item.id }}">Закрыть окно</button>
                            <button id="submitButton{{ item.id }}">Отправить</button>
                        </p>
                    </dialog>
                    {% endif %}
                </div>
                <script>
                    document.getElementById("exit").onclick = function() {
                        window.location.href = "http://127.0.0.1:5000/register";
                    };

                    function openDialog() {
                        const button = document.getElementById('open{{ item.id }}');

                        if (button.textContent != "Взять напрокат") return;
                        const dialog = document.getElementById('myDialog{{ item.id }}');
                        dialog.showModal();
                    }

                    function closeDialog() {
                        const dialog = document.getElementById('myDialog{{ item.id }}');
                        dialog.close();
                    }

                    function sendData() {
                        const quantity = document.getElementById('quantity{{ item.id }}').value;
                        const opisanie = document.getElementById('opisanie{{ item.id }}').value;
                        const dialog = document.getElementById('myDialog{{ item.id }}');

                        if (Number(quantity) > Number("{{ item.count }}") || quantity < 1) {
                            alert("некорректное число");
                            return;
                        }

                        const data = {
                            quantity: quantity,
                            opisanie: opisanie,
                            id: "{{ item.id }}"
                        };
                        fetch('/new_procurement/', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(data)
                        }).then(response => {
                            if (response.ok) {
                                dialog.close();
                                const button = document.getElementById('open{{ item.id }}');
                                button.textContent = 'заявка оставлена';
                                button.style.backgroundColor = 'green';
                                button.disabled = true;
                            }
                            else alert('Ошибка при отправке данных ' + response.status);
                        }).catch(error => {
                            console.error('Ошибка:', error);
                        });
                    }

                    document.getElementById('open{{ item.id }}').addEventListener('click', openDialog);
                    document.getElementById('closeButton{{ item.id }}').addEventListener('click', closeDialog);
                    document.getElementById('submitButton{{ item.id }}').addEventListener('click', sendData);

                </script>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const appid = {{ appid | tojson | safe }};
    console.log("appid:", appid);

</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}