<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет школьного инвентаря</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/user_style.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="display: flex; justify-content: space-between;">
    <div style="display: flex; justify-content: start; align-items: center;">
        <a href="/profile/" class="navbar-brand" style="margin-left: -6px">Ваш инвентарь</a>
        <div style="display: flex; justify-content: space-around;">
            <a href="/add_users/" class="nav-link-tab">Ваши заявки</a>
        </div>
    </div>
    <div style="display: flex; justify-content: space-around;">
        <a href="/profile/" class="nav-link active">{{name}}</a>
        <button class="btn btn-outline-light" type="button" id="exit" style="margin-left: 15px; margin-right: 15px">Выйти</button>
    </div>
</nav>
<div class="container inventory-list">
    <div class="d-flex justify-content-center"><h2 class="page-header">Доступное вам</h2></div>
    <div class="row">
        <div class="col-sm-12">
            {% for item in inventory %}
            {% if true %}
            <div class="col-md-14">
                <div class="inventory-item">
                    <h5>{{ item.name }}</h5>
                    <p>Количество предметов: {{ item.count }}</p>
                    
                    <button class="btn btn-primary" name="ItemName" id="open{{ item.name }}" value="{{ item.name }}">Взять напрокат</button>
                    <dialog id="myDialog{{ item.name }}">
                        <p>
                            <label>Введите количество товара</label>
                            <input type="number" name="quantity" id="quantity{{ item.name }}"/>
                        </p>
                        <p>
                            <label>Введите описание для заявки</label>
                            <input type="text" name="opisanie" id="opisanie{{ item.name }}"/>
                        </p>
                        <p>
                            <button id="closeButton{{ item.name }}">Закрыть окно</button>
                            <button id="submitButton{{ item.name }}">Отправить</button>
                        </p>
                    </dialog>
                    <script>
                        document.getElementById("exit").onclick = function() {
                                window.location.href = "http://127.0.0.1:5000/register";
                                 };
                        function openDialog() {
                            const button = document.getElementById('open{{ item.name }}');
                            if (button.textContent != "Взять на прокат") return;
                            const dialog = document.getElementById('myDialog{{ item.name }}');
                            dialog.showModal();
                        }


                        function closeDialog() {
                            const dialog = document.getElementById('myDialog{{ item.name }}');
                            dialog.close();
                        }


                        function sendData() {
                            const quantity = document.getElementById('quantity{{ item.name }}').value;
                            const opisanie = document.getElementById('opisanie{{ item.name }}').value;
                            const dialog = document.getElementById('myDialog{{ item.name }}');

                            if (Number(quantity) > Number("{{ item.count }}") || quantity < 1) {
                                alert("некоректное число");
                                return
                            }

                            const data = {
                                quantity: quantity,
                                opisanie: opisanie,
                                name: "{{ item.name }}"
                            };
                            fetch('/new_procurement/', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify(data)
                            }).then(response => {
                                if (response.ok) {
                                    dialog.close();
                                    const button = document.getElementById('open{{ item.name }}');
                                    button.textContent = 'заявка оставлена';
                                    button.style.backgroundColor = 'green';
                                }
                                else alert('Ошибка при отправке данных ' + response.status);
                            }).catch(error => {
                                console.error('Ошибка:', error);
                            });
                        }


                        document.getElementById('open{{ item.name }}').addEventListener('click', openDialog);
                        document.getElementById('closeButton{{ item.name }}').addEventListener('click', closeDialog);
                        document.getElementById('submitButton{{ item.name }}').addEventListener('click', sendData);


                    </script>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
